div, body {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../noisy-texture-100x100.png);
}

.container {
	width: 400px;
	height: 400px;
	margin: 5em auto;

	-webkit-box-shadow: 3px 3px 30px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    3px 3px 30px 0px rgba(50, 50, 50, 1);
	box-shadow:         3px 3px 30px 0px rgba(50, 50, 50, 1);
}