
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #020103;
	color: #AFADAE;
	overflow: hidden;
	font-size: 20px;
	font-family: 'Consolas', 'Lusida Console', monospace;
	touch-action: none;
}

canvas {
	/*transform-style: preserve-3d;
	transform-origin: 0% 0%;
	transform: scale3d(2.0, 2.0, 1.0);*/
	-ms-touch-action: none;
	touch-action: none;
}

.logo {
	position: fixed;
	top: 20px;
	left: 20px;
	max-width: 5%;
	min-width: 50px;
}

.logo img {
	max-width: 100%;
}

.odometer {
	position: fixed;
	top: 5px;
	right: 5px;
	font-size: 1.4em;
	text-align: right;
	font-family: 'Consolas', 'Lucida Console', monospace;
}

.twitter-button {
	position: fixed;
	right: 5px;
	top: 15%;
	display: none;
}

.twitter {
	position: fixed;
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.twitter a {
	color: #2ab9f1;
	text-decoration: none;
}

#main-screen {
	position: absolute;
	width: 100%;
	height: 100%;
}
