body {
	margin: 0;
}

.field  {
	width: 800px;
	height: 600px;
	background: url(h.gif);
}

.car {
	position: absolute;
	width: 32px;
	height: 32px;
	max-width: 32px;
	max-height: 32px;
	left: 256px;
	top: 256px;
	/*background-color: #0ed499;*/
	text-align: center;
}