﻿body {
	background-color: #000;
	color: #eee;
	font-family: "Book Antiqua", serif;
}
.mid {
	margin: 0 auto;
	width: 640px;
}
.log {
	width: 100%;
	height: 120px;
	border: 2px solid #4B4B4B;
	padding: 3px;
	margin: 2px;
	background-color: #303035;
}
.stat {
	float: left;
	width: 160px;
	height: 320px;
	border: 2px solid #4B4B4B;
	/*padding: 3px;*/
	margin: 2px;
	background-color: #303035;
	color: #979799;
}
ul {
	margin: 3px;
	padding-left: 20px;
}
.substat {
	border-bottom: 1px solid #4B4B4B;
	margin: 5px;
}
.scr {
	float: left;
	width: 320px;
	height: 320px;
	margin: 2px;
	/*padding: 3px;*/
	border: 2px solid #303035;
	background-color: #222;
}
.tile {
	/*position: absolute;*/
	float: left;
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
}
.control {
	float: left;
	/*width: 140px;*/
	height: 160px;
	padding: 5px;
}